* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

nav {
  height: 5vh;
  font-weight: 900;
  display: flex;
  letter-spacing: 0.2rem;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.8rem;
  position: fixed;
  background-image: url(./Images/homeBackground.jpg);
  background-size: cover;
}

ul p {
  width: 8vw;
  margin-left: 2rem;
}

ul {
  display: flex;
}

.navContainer {
  display: flex;
  justify-content: right;
  width: 90vw;
}

li {
  list-style-type: none;
  margin: 0 1rem 0.8rem 0.8rem;
}

a,
ul p {
  text-decoration: none;
  color: #fff;
}

a {
  padding-bottom: 0.5rem;
  display: inline-block;
}

a:hover,
.navHome {
  display: inline-block;
  border-bottom: #fff solid;
}

.landingPage {
  background-image: url(./Images/homeBackground.jpg);
  height: 100vh;
  background-size: cover;
}

#typingContainer {
  margin: 10rem 0 0 2rem;
  letter-spacing: 0.2rem;
  width: 20vw;
}

.landingPage h1 {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.games {
  height: 100vh;
  background-image: url(./Images/gamesBackground.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

.gamesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
}

.gamesCard {
  height: 22rem;
  width: 15rem;
  background-color: #000;
  margin: 2rem;
  border-radius: 0.5rem;
  background-size: cover;
  cursor: pointer;
  transition: 350ms ease-in-out;
}

.gamesButton {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  border: solid #fff;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 390px) {
  nav {
    font-size: 0.5rem;
    position: absolute;
    background-image: none;
  }

  li {
    margin: 0;
  }

  ul p {
    width: auto;
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 1rem;
  }

  #typingContainer {
    width: auto;
  }

  .navContainer {
    display: flex;
    justify-content: space-evenly;
  }

  .navShow {
    width: 20vw;
    
  }

  .navHidden {
    display: none;
    width: 1px;
    margin: 0;
    padding: 0;
  }

  .navHome {
    margin-left: 1rem;
  }
}
