* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

nav {
  height: 5vh;
  font-weight: 900;
  display: flex;
  letter-spacing: 0.2rem;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.8rem;
  position: fixed;
  background-image: url(./Images/homeBackground.jpg);
  background-size: cover;
}

ul p {
  width: 8vw;
  margin-left: 2rem;
}

ul {
  display: flex;
}

.navContainer {
  display: flex;
  justify-content: right;
  width: 90vw;
}

li {
  list-style-type: none;
  margin: 0 1rem 0.8rem 0.8rem;
}

a,
ul p {
  text-decoration: none;
  color: #fff;
}

a {
  padding-bottom: 0.5rem;
  display: inline-block;
}

a:hover,
.navHome {
  display: inline-block;
  border-bottom: #fff solid;
}

.landingPage {
  background-image: url(./Images/homeBackground.jpg);
  height: 100vh;
  background-size: cover;
}

#typingContainer,
#typingContainer1 {
  margin: 10rem 0 0 2rem;
  letter-spacing: 0.2rem;
}

.landingPage h1 {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.games {
  height: 100vh;
  background-image: url(/Images/gamesBackground.jpg);
  background-size: cover;
}

.games__list {
  height: 35vh;
  width: 100vw;
  margin: 1rem;
  background-color: gray;
}

.games__cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.games__header {
  width: 20vw;
  height: 20vh;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.games__box {
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: solid red 1px;
}
.paradox_interactive {
  background-image: url(/Images/paradox-interactive.png);
  background-color: #fff;
  background-size: cover;
  width: 18vw;
  height: 20vh;
  border-radius: 2rem;
}

.ea {
  background-image: url(/Images/ea.png);
  background-color: #fff;
  background-size: cover;
  width: 18vw;
  height: 20vh;
  border-radius: 2rem;
}

.paradox_interactive video, .ea video {
  width: 18vw;
  height: 20vh;
  position: absolute;
  opacity: 0;
  border-radius: 2rem;
  transition: all ease-in-out 400ms;
}

.paradox_interactive video:hover {
  opacity: 1;
  border: solid rgb(255, 255, 255) 2px;
}

.ea video:hover {
  opacity: 1;
  border: solid rgb(255, 255, 255) 2px;
}

@media only screen and (max-width: 390px) {
  nav {
    font-size: 0.5rem;
    position: absolute;
    background-image: none;
  }

  li {
    margin: 0;
  }

  ul p {
    width: auto;
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 1rem;
  }

  #typingContainer {
    width: auto;
  }

  .navContainer {
    display: flex;
    justify-content: space-evenly;
  }

  .navShow {
    width: 20vw;
  }

  .navHidden {
    display: none;
    width: 1px;
    margin: 0;
    padding: 0;
  }

  .navHome {
    margin-left: 1rem;
  }
}
